<launch>
    <arg name="config_path" default="$(find feature_tracker)/../config/euroc/euroc_config.yaml" />
    <arg name="vins_path"   default="$(find feature_tracker)/../config/../" />
    <arg name="bag"         default="/catkin_ws/src/realflight_modules/VID-Fusion/data/machine_hall/MH_01_easy/MH_01_easy.bag" />
    <arg name="bag_rate"    default="0.5" />

    <node name="feature_tracker" pkg="feature_tracker" type="feature_tracker" output="log">
        <param name="config_file" type="string" value="$(arg config_path)" />
        <param name="vins_folder" type="string" value="$(arg vins_path)" />
    </node>

    <node name="vid_estimator" pkg="vid_estimator" type="vid_estimator" output="screen">
        <param name="config_file" type="string" value="$(arg config_path)" />
        <param name="vins_folder" type="string" value="$(arg vins_path)" />
    </node>

    <node name="pose_graph" pkg="pose_graph" type="pose_graph" output="screen">
        <param name="config_file" type="string" value="$(arg config_path)" />
        <param name="visualization_shift_x" type="int" value="0" />
        <param name="visualization_shift_y" type="int" value="0" />
        <param name="skip_cnt" type="int" value="0" />
        <param name="skip_dis" type="double" value="0" />
    </node>

    <node name="rosbag_play" pkg="rosbag" type="play" output="screen"
          args="--clock -r $(arg bag_rate) $(arg bag)" />

    <include file="$(find ego_planner)/launch/foxglove_bridge.launch" />
</launch>
